@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* ------------ navigation ------------------- */
.page-header {
  height: 64px;
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.page-header-logo {
  width: 140px;
  height: 70px;
  margin-bottom: 6px;
  margin-left: 70px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  width: 439px;
  flex-wrap: wrap;
}

.navigation-user {
  margin: 0 70px 0 862px;
  width: 268px;
  height: 64px;
  margin-left: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  background-repeat: no-repeat;
  padding: 0;
}

.navigation-user .navigation-item {
  width: 44px;
}

.want-this {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  background-color: #756157;
  padding: 8px 34px;
  border: 0;
  margin: 14px 70px 14px 20px;
  width: 160px;
  height: 36px;
}

.navigation-user .navigation-link .image-favorites {
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
}

.navigation-user .navigation-link .image-search {
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
}
/* ---------- ! navigation ------------------- */

/* ------main-index ------- */
.promo {
  background-image: url("../images/background.jpg");
  background-color: #82B3D3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px 371px;
}

.main-index {
  color: #000000;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}
/* ------ ! main-index ------- */
/* ---------- announcement ------- */
.announcement-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 69px 290px 0;
}

.announcement-discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 25px 274.5px 69px;
}
/* --------- ! announcement --------- */

/* ---------- advantages ----------------- */
.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-text-container {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 101.5px 85px 0;
  margin: 0;
}
.advantages-title {
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0 27.5px 62px;
  margin: 0;
}

.advantages-discription {
  font-weight: 400;
  text-align: center;
  margin: 0;
}

.advantages-item-blue {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-list {
  margin: 0;
  width: 230px;
  padding: 112.5px 85px 112.5px 85px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
/* ---------- ! advantages ---------------- */

/* ----------recomendation ----------- */
.recomendation-announcement {
  margin: 64px 347.5px 20px;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
}

.recomendation-article {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 64px;
}
.recomendation-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
  flex-grow: 1;
}
.recomendation-item {
  margin: 0;
  width: 230px;
  padding: 81px 85px;
}

.recomendation-title {
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 102px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
}

.recomendation-discription {
  margin: 0;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  color: #333333;
}
.recomendation-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
/* ---------! recomendation ---------- */

/* ---------booking -------- */
.booking {
  margin: 96px auto;
  width: 1200px;
}

.booking-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  margin-bottom: 20px;
  margin-top: 0;
}

.booking-discription {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  color: #333333;
  text-align: center;
  margin-bottom: 54px;
}

.hotel-search {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  padding: 8px 50px 8px 50px;
  /* margin-bottom: 96px; */
}
/* -------- ! booking ----------- */

/* -------- subscribe ---------- */
.subscribe {
  padding: 96px 258px 104px;
  max-width: 684px;
  background-image: url("../images/background-blur.jpg");
  background-color: #82B3D3;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-discription {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.email-form-submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  width: 232px;
  height: 52px;
  text-transform: uppercase;
  padding: 0;
}

.field {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 452px;
  height: 52px;
}

.email-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  flex-grow: 1;
  align-items: baseline;
  width: 684px;
}

/* ------- ! subscribe ----------- */

/* .house {
  background-image: url("../images/advantages/house.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
} */

/* .food {
  background-image: url("../images/advantages/food.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
} */

/* .gift {
  background-image: url("../images/advantages/box.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
} */

/* .vkontakte {
  background-image: url("../images/social/social-vk.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 47.33px;
  height: 40px;
}

.telegram {
  background-image: url("../images/social/social-telegram.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 47.33px;
  height: 40px;
}

.youtube {
  background-image: url("../images/social/social-youtube.svg");
  background-color: #ffffff;
  background-repeat: no-repeat;
  width: 47.33px;
  height: 40px;
} */

/* ---------- footer ---------*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 120px;
  width: 1200px;
}

.social-media-list {
  margin: 45px 40px 35px 70px;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-grow: 1;
  width: 142px;
  height: 40px;
}

.telephone {
  font-size: 40px;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
  margin: 45px 194px 35px 195px;
}

.academy {
width: 115px;
height: 33px;
margin: 48.5px 73px 38.5px 40px;
}
/* -------- ! footer --------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* .social-media-wraper {
  display:flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 142px;
  height: 40px;
} */

.image-favorites {
  background-image: url("../images/heart.svg");

}

    /* -------- catalog ----- */

/* ------main-inner ------- */
.main-header{
  background-image: url("../images/background-filter.jpg");
  background-color: #82B3D3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  width: 1200px;
  height: 412px;
  /* padding: 35px, 70px, 70px, 70px; */
  /* margin-top: 35px; */
}

.inner-header-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  width: 494.4px;
  height: 78px;
  padding: 35px 635.6px 8px 70px;
}

.breadcrumbs {
  margin: 0;
  padding: 0 1016px 40px 70px;
  display: flex;
  width: 114px;
  height: 21px;
  flex-wrap: nowrap;
  list-style-type: none;
}

.breadcrumbs-item {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
}
/* ------- ! main-inner ------- */

/* -------- hotel-choice ------- */
.hotel-choice {
  margin-top: 40px;
}
.hotel-choice-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 1060px;
  margin-top: 40px;
  padding-left: 70px;
  margin-right: 70px;
  padding-bottom: 73px;
}

.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.filter-list {
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 150.43px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.amount-wrapper {
  display: flex;
  flex-direction: column;
  width: 288px;
  height: 48px;
  padding-top: 28.67px;
  padding-bottom: 56px;
  flex-wrap: wrap;
}

.button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 70px;
  padding-bottom: 32px;
  height: 36px;
}
/* -------- ! hotel-choice ------- */

/* ---------select --------- */
.select {
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search-result-wrapper {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  /* justify-content: space-between; */
  height: 49px;
  align-items: center;
  margin-top: 50px;
  margin-left: 70px;
  /* align-items: baseline; */
}

.search-result {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700px;
  width: 338px;
  margin-top: 0;
  /* margin-right: 200px; */
  margin-bottom: 46.5px;
}

.select-control-wrapper {
  margin-top: 0;
  margin-right: 70px;
  margin-left: 200px;
  margin-bottom: 46.5px;
}

.select-control {
  height: 49px;
  width: 292px;
  padding: 14px 131px 14px 20px;
}

.view-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 160px;
  margin-top: 0;
  margin-right: 70px;
  margin-left: 20px;
  margin-bottom: 46.5px;
}
/* -------- ! select -------- */

/* ------------ hotels ---------- */
.hotel-list {
  /* display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  align-items: center; */
  margin: 0;
  padding: 0;
}

.hotel-list-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 1060px;
  justify-content: space-between;
  list-style-type: none;
  margin: 0 70px 40px 70px;
  align-items: center;
}

.hotel-card {
  width: 340px;
  height: 438px;
  margin-bottom: 20px;
}

.hotel-card-image {
  margin: 20px 20px 16px;
}

.hotel-card-link {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 28px;
}

.hotel-card-title {
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 16px;
  min-width:300px;
}

.type.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px 8px 26px;
}

.hotel-card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  padding: 8px 20px 8px 20px;
}

.hotel-card-button-in-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7DB54F;
}
/* ----------- ! hotels --------- */

/* .show-cards {
  background-image: url("../images/view/icon-3-default.svg");
  width: 48px;
  height: 48px;
}

.show-by-one {
  background-image: url("../images/view/icon-2.svg");
  width: 48px;
  height: 48px;
}

.show-list {
  background-image: url("../images/view/icon-1.svg");
  width: 48px;
  height: 48px;
} */

/* -------- pagination -------- */
.pagination {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  width: 400px;
  height: 60px;
  /* padding: 11.46px 24.55px 12.64px 23.45px; */
  padding: 0;
  /* margin-top: 40px; */
  margin-top: 0;
  margin-bottom: 60px;
  margin-left: 70px;
}

.pagination-item {
  width: 60px;
  height: 60px;
  margin-right: 8px
}

.pagination a {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  /* padding: 11.26px 24.55px 12.64px 23.45px; */
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
}

.pagination-wrapper {
  width: 60px;
  height: 60px;
  margin-left: 8px;
  text-align: center;
  background-color: #82B3D3;
}
/* ------- ! pagination --------- */

    /* -------- ! catalog ------- */
