@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

html {
  background-color: #F2F2F2;
  height: 100%;
}

body {
  font-family: "PT Sans",sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
/* ------------ navigation ------------------- */
.page-header {
  padding: 0 70px;
}

/* .navigation-list .navigation-link:hover {
  border-bottom: 2px #756257 solid;
} */

/* .navigation-link:active {
  border-bottom: 2px #756257 solid;
} */

.navigation-link {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: inherit;
  text-decoration: none;
  text-align: center;
  padding: 20px 16px;
  display: block;
}

/* .navigation-link:focus {
  border-bottom: 2px #756257 solid;
} */

.navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  height: 64px;
}

.page-header-logo {
  display: block;
  position: relative;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
  flex-wrap: wrap;
}

.navigation-user {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 0 auto;
  padding: 0;
  list-style-type: none;
  align-items: center;
}

.favorites-wrapper {
  position: absolute;
  border-radius: 10px;
  background-color: #7DB54F;
  transform: scale(0.9);
  top: 11px;
  left: 20px;
  width: 20px;
  height: 20px;
}

.favorites-number {
  position: absolute;
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: #ffffff;
  text-align: center;
  top: 16px;
  left: 24px;
}

.navigation-user .navigation-item:nth-child(2) {
  margin-right: 20px;
}
.want-this {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #756157;
  padding: 8px 34px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}

.want-this:hover {
  background-color: #615048;
}

.want-this:focus {
  outline: none;
  background-color: #615048;
}

.want-this:active {
  color: rgba(255, 255, 255, 0.3);
}
/* .navigation-user .navigation-item:nth-child(2)
.navigation-link {
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../images/heart.svg");
  background-repeat: no-repeat;
  background-position: center;
}

.navigation-user .navigation-item:nth-child(1)
.navigation-link {
  margin: 0;
  min-width: 44px;
  min-height: 64px;
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
} */
/* ---------- ! navigation ------------------- */

/* ------main-index ------- */
.promo {
  background-image: url("../images/background.jpg");
  background-color: #82B3D3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.welcome {
  display: block;
  margin: 0 auto;
  padding: 51px 371px 82px 371px;
}

.main-index {
  color: #000000;
  text-align: center;
}

.main-container {
  flex-grow: 1;
}
/* ------ ! main-index ------- */

/* ---------- announcement ------- */
.announcement-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 69px 290px 0;
}

.announcement-discription {
  font-size: 22px;
  font-weight: 400;
  line-height: 26px;
  color: #333333;
  text-align: center;
  margin: 25px 274.5px 69px;
}
/* --------- ! announcement --------- */

/* ---------- advantages ----------------- */
.product-image {
  display: block;
  object-fit:contain;
}

.advantages-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  color: #ffffff;
  background-color: #82b3d3;
}

.advantages-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 85px;
}

.advantages-title {
  width: 175px;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
  text-transform: uppercase;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 30px;
}

.advantages-text-container .separate-line {
  background: #FFFFFF 30%;
  width: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-item-list .separate-line {
  background: #000000 30%;
  width: 60px;
  margin-top: 0;
  margin-bottom: 30px;
}
.advantages-discription {
  font-weight: 400;
  text-align: center;
  margin: 0;
  padding: 0;
}

.advantages-item-list:nth-child(3) {
  background: rgba(131, 179, 211, 0.2);
}
.advantages-item-list {
  width: 400px;
  min-height: 385px;
  margin: 0;
  background: rgba(131, 179, 211, 0.12);
  padding: 112px 85px 20px;
  box-sizing: border-box;
}
/* ---------- ! advantages ---------------- */

/* ----------recomendation ----------- */
.recomendation-announcement {
  margin: 64px 347.5px 20px;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  width: 505px;
}

.recomendation-article {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  margin-bottom: 64px;
}
.recomendation-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  list-style-type: none;
}
.recomendation-item {
  margin: 0;
  width: 230px;
  padding: 81px 85px;
}

.recomendation-title {
  margin-top: 0;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 28px;
  font-size: 24px;
}

.recomendation-icon {
  margin-bottom: 30px;
}

.recomendation-discription {
  margin: 0;
  font-weight: 400;
  line-height: 21px;
  font-size: 18px;
  text-align: center;
  color: #333333;
}
.recomendation-item-blue {
  background-color: rgba(131, 179, 211, 0.12);
}
/* ---------! recomendation ---------- */

/* ---------booking -------- */
.booking {
  padding: 96px 20px;
}

.booking-title {
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  text-transform: uppercase;
  margin: 0 auto 20px;
  max-width: 505px;
}

.booking-discription {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  margin: 0 auto 54px;
  max-width: 592px;
}

.booking-but-search {
  position: relative;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  text-align: center;
  padding: 8px 50px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.booking-but-search:hover {
  background-color: #615048;
}

.booking-but-search:focus {
  background-color: #615048;
  outline: none;
}

.booking-but-search:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #756157;
}

.popover-container {
  position: fixed;
  flex-wrap: nowrap;
  display: flex;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.popover {
  position: relative;
  margin: auto;
  padding: 64px 70px;
  background-color: #FFFFFF;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.popover-content {
  /* display: flex; */
  /* justify-content: space-between; */
}
/*
.date-wrapper {
  display: grid;
  grid-template-columns: 117px 440px;
  gap: 48px;
} */

.date-container {
  display: grid;
  grid-template-columns: 137px 440px;
  row-gap: 48px;
  margin-bottom: 48px;
  /* flex-direction: column;
  flex-wrap: nowrap; */
}
.persons-number-wrapper {
  display: flex;
  margin-bottom: 48px;
}

.adults-number {
  display: flex;
}

.child-number {
  display: flex;
}

.child-title {
  margin-right: 82px;
}
.adults-title {
  margin-right: 46px;
}

.field-form-number {
  width: 110px;
  height: 48px;
  text-align: center;
  padding: 0;
  border: none;
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
  color: #000000;
  background-color: #F2F2F2;
  border-radius: 4px;
  margin-right: 88px;
  /* padding: 14px 50px; */
}

.field-form-number::-webkit-outer-spin-button,
.field-form-number::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

/* .persons-number-wrapper {
  display: grid;
  grid-template-columns: 247px 247px;
  column-gap: 88px;
}
 */

/* .field-form[type="text"] {
  display: flex;
  margin: 0;
  padding: 12px 295px 12px 20px;
  box-sizing: border-box;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  text-align: center;
} */

.number-person-wrapper {
  display: grid;
  grid-template-columns: 137px 110px;
}

.popover-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 130px 64px 0;

}

.date-container-arrival {
  display: flex;
  /* justify-content: space-between; */
}

.arrival-data-title{
  margin-right: 24px;
}

.departure-data-title {
  margin-right: 18px;
}
.form-label {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
}

.field-form {
  /* display: flex; */
  padding: 12px 184px 12px 20px;
  border: none;
  background-color: #F2F2F2;
  border-radius: 4px;
  color: #000000;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}


.image-date {
  /* position: absolute; */

  top: 2px;
  left: 2px;
}

.popover-but-search {
  width: 577px;
  background-color: #83B3D3;
  border-radius: 4px;
  border: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
  padding: 18px 256.5px;
}
/* .field-form::after {
  position: absolute;
  content: url(../images/image-date.svg);
  top: 2px;
  left: 2px;

} */
.form-message-arrival {
  margin: 4px 120px 23px 137px;
  padding: 0 20px;
  color: #FF5757;
  font-size: 16px;
  line-height: 21px;
}

.form-message-departure {
  margin: 4px 89px 23px 157px;
  /* padding: 0 20px; */
  color: #333333;
  font-size: 16px;
  line-height: 21px;
}
.date-container-departure {
  display: flex;
  /* justify-content: space-between; */
}
.popover-but-close {
  position: absolute;
  cursor: pointer;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 26px;
  border: 0;
}

.popover-but-close::after,
.popover-but-close::before {
  position: absolute;
  top: 25px;
  left: 17px;
  width: 19px;
  height: 2px;
  background-color: #000000;
  content: "";
}

.popover-but-close::after {
  transform: rotate(45deg);
}

.popover-but-close::before {
  transform: rotate(-45deg);
}
/* .popover {
  position: absolute;
  margin: 396px 282px 2574px 281px;
  z-index: 1;
  top: 11.17%;
  right: 22.03%;
  left: 21.95%;
  bottom: 72.59%;
  width: 717px;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 64px 70px;
  box-shadow: 0 25px 50px rgba(0, 0, 0, 0.15);
  font-family: inherit;
  color: inherit;
}

.popover-content {

}
.popover-title {
  position: absolute;
}
.popover-but-close {
  position: absolute;
  z-index: 1;
  top: 64px;
  left: 613px;
  width: 52px;
  height: 52px;
  background-color: #F2F2F2;
  border-radius: 26px;
  border-color: #000000;
} */
/* -------- ! booking ----------- */

/* -------- subscribe ---------- */
.subscribe {
  padding: 96px 258px 104px;
  max-width: 684px;
  background-image: url("../images/background-blur.jpg");
  background-color: #82B3D3;
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

.subscribe-catalog {
  padding: 96px 258px 104px;
  max-width: 684px;
  background-size: 100% 100%;
  text-align: center;
  background: #FFFFFF;
}

.subscribe-title {
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  font-weight: 700;
  line-height: 36px;
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-catalog .subscribe-title {
  color: #000000;
}

.subscribe-discription {
  font-weight: 400;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
  color: #ffffff;
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-catalog .subscribe-discription {
  color: #333333;
  margin-top: 0;
}

.email-form-submit {
  display: inline;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  background-color: #82B3D3;
  /* width: 232px; */
  text-transform: uppercase;
  padding: 8px 50px;
  border: 0;
  align-items: baseline;
  box-sizing: border-box;
  cursor: pointer;
  border-bottom-right-radius: 4px ;
  border-top-right-radius: 4px;
}

.email-form-submit:hover {
  background-color: #68A2CA;
  outline: none;
}

.email-form-submit:focus {
  background-color: #68A2CA;
  outline: none;
}

.email-form-submit:active {
  color: rgba(255, 255, 255, 0.3);
}
.field {
  /* display: block; */
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
  width: 452px;
  padding: 12px 20px;
  border: 0;
  box-sizing: border-box;
  border-bottom-left-radius: 4px ;
  border-top-left-radius: 4px;
  align-self: stretch;
}

.subscribe-catalog .field {
  background-color: #F2F2F2;
}
.email-form {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box;
  align-items: baseline;
  /* width: 684px; */
}
/* ------- ! subscribe ----------- */

/* ---------- footer ---------*/
.page-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 70px 30px;
}

.social-media-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
}

.social-button {
  display: block;
}

.social-button .social-icon {
  color : #83B3D3;
}

.social-button .social-icon:hover {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.social-button:focus {
 outline: none;
}

.social-button .social-icon:active {
  color : rgba(104, 162, 202, 0.3);
}

.telephone {
  font-size: 40px;
  color: inherit;
  text-decoration: none;
  font-weight: 400;
  text-align: center;
}

.telephone:hover {
  color: #756157;
}

.telephone:focus {
  color: #756157;
  outline: none;
}

.telephone:active {
  color: rgba(117, 97, 87, 0.3);
}

.logo-academy {
  display: block;
  color: #000000;
}

.academy .logo-academy:hover {
  color: #756157;
}

.academy:focus .logo-academy:focus {
  color: #756157;
  outline: none;
}

.academy .logo-academy:active {
  color: rgba(117, 97, 87, 0.3);
}
/* -------- ! footer --------- */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

    /* -------- catalog ----- */

/* ------main-inner ------- */
.main-header{
  background-image: url("../images/background-filter.jpg");
  background-color: #82B3D3;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 70px 70px;
  margin-bottom: 50px;
}

.inner-header {
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0 0 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  text-decoration: none;
  color: inherit;
  align-items: baseline;
}

.breadcrumbs-link {
  text-decoration: none;
  align-self:center;
  cursor: pointer;
}

.breadcrumbs-link::after {
  position: relative;
  content: url(../images/arrow-2.svg);
  margin-left: 11.3px;
  margin-right: 10.8px;
}

.breadcrumbs-item:last-child .breadcrumbs-link::after {
  content: none;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  outline: none;
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}
/* ------- ! main-inner ------- */

/* -------- hotel-choice ------- */
.filter-section {
  display: flex;
  justify-content: space-between;
}

.filter-group-first {
  padding: 0;
  margin: 0 70px 0 0;
  border: none;
}

.filter-group-second {
  padding: 0;
  margin: 0 70px 0 0;
  border: none;
}


.filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 32px;
}

.filter-list {
  display: grid;
  column-gap: 70px;
  row-gap: 16px;
  list-style-type: none;
  margin:0;
  padding: 0;
  width: 150.43px;
}

.control {
  position: relative;
  display: block;
  padding-left: 36px;
}

.control-input[type="radio"] + .control-mark {
  border-radius: 10px;
}

.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #3F5E72;
  top: 5px;
  left: 5px;
  content: "";
}

.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  content: url(../images/view-checked.svg);
  top: -1px;
  left: 4px;
}

.control-mark {
  position: absolute;
  width: 20px;
  height: 19px;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-radius: 4px;
}

.control:hover .control-mark {
  outline: none;
}

.control:focus .control-mark {
  outline: 3px solid #83B3D3;
}

.control:active .control-mark {
  outline: 2px solid #83B3D3;
}

.control:hover .control-label {
  opacity: 60%;
}

.control:focus .control-label {
  color:#000000;
  border: none;
}

.control:active .control-label {
  opacity: 30%;
  border: none;
}

.amount-group {
  padding: 0;
  margin: 0 70px 0 0;
  border: none;
}

.amount-title {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 32px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
}

.catalog-filter-label {
  display: flex;
  height: 48px;
  margin-bottom: 48px;

}

.range-input {
  padding: 12px 112px 12px 20px;
  width: 143px;
  box-sizing: border-box;
  border-radius: 4px 0 0 4px;
  justify-content: space-between;
  font: inherit;
  appearance: textfield;
  border: none;
}

.range-input-min {
  border-radius: 4px 0 0 4px;
}

.range-input-max {
  border-radius: 0 4px 4px 0;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.range {
  width: 287px;
  box-sizing: border-box;
  margin: 0;
}

.range-scale {
  position: relative;
  height: 4px;
  background-color: #ffffff;
}

.range-bar {
  position: absolute;
  box-sizing: border-box;
  width: 61px;
  height: 4px;
  background-color:  red;
}

.range-toogle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  border: none;
}

.toogle-min {
  left: -227px;
  top: -8px;
}

.toogle-max {
  right: 60.5px;
  top: -8px;
}

.range-toogle:hover {
  border: none;
}

.range-toogle:focus {
  outline: 3px solid #83B3D3;
}

.range-toogle:active {
  outline: 2px solid #83B3D3;
}
/*
.amount-wrapper {
  display: flex;
  display: grid;
  grid-column: 1/2;
  width: 143px;
  margin-bottom: 36px;
} */

.button-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 56px;
}

.button-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 32px;
  background-color: #82B3D3;
  padding: 8px 50px;
  border: 0;
  cursor: pointer;
  border-radius: 4px;
}

.button-submit:hover {
  background-color: #68A2CA;
}

.button-submit:focus {
  background-color: #68A2CA;
  outline: none;
}

.button-submit:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-reset {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  background: none;
  color: #FFFFFF;
  padding: 8px 57.5px;
  border: 0;
  cursor: pointer;
}

.button-reset:hover {
  background-color: none;
  opacity: 60%;
}

.button-reset:focus {
  outline: 3px solid #83B3D3;
  border-radius: 4px;
}

.button-reset:active {
  color: rgba(255, 255, 255, 0.3);
}
/* -------- ! hotel-choice ------- */

/* ---------select --------- */
.select {
  display: flex;
  justify-content: space-between;
  color: #000000;
  align-items: center;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  padding: 0 70px;
  margin-bottom: 40px;
}

.search-result {
  margin: 0;
}

.select-control-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

.select-control {
  width: 100%;
  padding: 14px 131px 14px 20px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
  border: 2px solid #E5E5E5;
  background-image: url(/images/arrow-1.svg);
  background-repeat: no-repeat;
  background-position: right 20px center ;
  appearance: none;
  border-radius: 4px;
}

.select-control:hover {
  border: 2px solid #68A2CA;
}

.select-control:focus {
  border: 0;
  outline: 2px solid #68A2CA;
}

.select-control:active {
  outline: 2px solid #3F5E72;
  border: 0;
}
.view-wrapper {
  display: flex;
  /* flex-direction: row; */
  /* justify-items: space-between; */
  /* width: 160px;
  margin-top: 0;
  margin-right: 70px;
  margin-left: 20px;
  margin-bottom: 46.5px; */
}

.button-view {
  display: block;
  width: 48px;
  height: 49px;
  cursor: pointer;
  border-radius: 4px;
  border: #E5E5E5 2px solid;
}

.button-view:hover {
  outline: 2px solid #000000;
  border: 0;
}

.button-view:focus {
  outline: #68A2CA 2px solid;
  border: 0;
}

.button-view:active {
  border: #000000 2px solid;
  outline: none;

}

 .button-view:not(:last-child) {
  margin-right: 8px;
 }
/* -------- ! select -------- */

/* ------------ hotels ---------- */
.hotels {
  padding: 0 70px;
}
.hotel-list {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: 340px 340px 340px;
  column-gap: 20px;
  list-style-type: none;
}

.hotel-info-wraper {
  display: grid;
  grid-template-columns: 140px 140px;
  column-gap: 20px;
  row-gap: 16px;
  margin-left: 20px;

}
.hotel-card {
  width: 340px;
  height: 438px;
  margin-bottom: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card:last-child {
  margin-bottom: 40px;
}
.hotel-card-image {
  margin: 20px 20px 16px;
}

.hotel-card-link {
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 28px;
}

.hotel-card-title {
  color: #000000;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  padding: 0 20px;
  margin-top: 0;
  margin-bottom: 16px;
  min-width:300px;
}

.hotel-type {
  display: inline;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #333333;
  justify-self: start;
}

.hotel-card-price {
  display: inline;
  font-weight: 400;
  margin: 0;
  padding: 0;
  color: #333333;
  justify-self: end;
}

.hotel-card-button-more {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756157;
  padding: 8px 26px 8px 26px;
  align-self: center;
  border: none;
  border-radius: 4px;
}

.hotel-card-button-more:hover {
  background-color: #615048;
}

.hotel-card-button-more:focus {
  background-color: #615048;
  outline: none;
}

.hotel-card-button-more:active {
  color: rgba(255, 255, 255, 0.3);
}

.hotel-card-button-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #82B3D3;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-card-button-favorites:hover {
  background-color: #68A2CA;
}

.hotel-card-button-favorites:focus {
  background-color: #68A2CA;
  outline: none;
}

.hotel-card-button-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}
.hotel-card-button-in-favorites {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #7DB54F;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.hotel-card-button-in-favorites:hover {
  background-color: #6C9E42;
}

.hotel-card-button-in-favorites:hover {
  background-color: #6C9E42;
  outline: none;
}

.hotel-card-button-in-favorites:active {
  color: rgba(255, 255, 255, 0.3);
}

.star-rating {
  background-repeat: calc(3);
}

.rating-number-wrapper {
  display: grid;
  background-color: #F2F2F2;
  border-radius: 4px;
}

.rating-number {
  margin: 0;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  padding: 9px 22px 8px 23px;
}
/* ----------- ! hotels --------- */

/* -------- pagination -------- */

.hr-pagination {
  margin: 0 0 40px;
  border: 1px solid #E6E6E6;
}

.pagination-list {
  display: flex;
  list-style-type: none;
  margin: 0 0 60px;
  padding: 0;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  line-height: 36px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  background-color: #82B3D3;
  text-decoration: none;
  min-width: 60px;
  border-radius: 4px;
  padding: 11px 4px 13px;
  text-align: center;
}

.pagination-link:hover {
  background-color: #68A2CA;
}

.pagination-link:focus {
  background-color: #68A2CA;
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #82B3D3;
}

.pagination-disabled {
  display: block;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  font-size: 22px;
  line-height: 26px;
  text-decoration: none;
  background-color: #ffffff;
  min-width: 60px;
  text-align: center;
  padding: 17px 4px 18px;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-prev {
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-prev:hover{
  color: #000000;
  background-color: #F2F2F2;
}

.pagination-prev:focus{
  color: #000000;
  background-color: #F2F2F2;
  outline: none;
}
/* ------- ! pagination --------- */

    /* -------- ! catalog ------- */
